<%- include("header", {dialog: false}); %>
<%- include("sidenav", { tags: tags, active: activeTag || "snippets" }); %>

<main class="container-fluid content masonry">
    <% snippets.forEach((snippet) => { %>
        <div class="masonry-panel">
            <div class="masonry-content">
                <div class="element snippet" onclick="window.location='/snippets/mod/<%= snippet.id %>'">
                    <div class="content"><%= snippet.content %></div>
                    <div class="tags">
                        <% snippet.tags.forEach((tag) => { %>
                            <div class="tag"><%= tag.name %></div>
                        <% }); %>
                    </div>
                    <div class="toolbar">
                        <a class="delete-button tool danger" href="/snippets/del/<%= snippet.id %>">Delete</a>
                    </div>
                    <div class="comment-bar">
                        <div class="comment"> // Click into to edit</div>
                    </div>
                </div>
            </div>
        </div>
    <% }); %>
</main>

<%- include("footer", {}) %>
<script src="/js/index.js"></script>