<%- include("header", {dialog: true}); %>
<%- include("sidenav", { tags: tags, active: activeTag || "snippets" }); %>

<main class="container-fluid content masonry">
    <% snippets.forEach((snippet) => { %>
        <div class="masonry-panel">
            <div class="masonry-content">
                <div class="element snippet">
                    <div class="content"><%= snippet.content %></div>
                    <div class="tags">
                        <% snippet.tags.forEach((tag) => { %>
                            <div class="tag"><%= tag %></div>
                        <% }); %>
                    </div>
                    <div class="toolbar">
                        <a class="delete-button tool danger" href="/snippets/del/<%= snippet.id %>">Delete</a>
                    </div>
                    <div class="comment-bar">
                        <div class="comment"> // Click into to edit</div>
                    </div>
                </div>
            </div>
        </div>
    <% }); %>
</main>

<div class="dialog-wrapper">
    <div class="element snippet">
        <form id="snippet-edit-form" method="POST">
            <textarea class="content" name="content"><%= editedSnippet.content %></textarea>
            <div class="tags">
                <% editedSnippet.tags.forEach((tag) => { %>
                    <div class="tag"><%= tag %></div>
                <% }); %>
            </div>
            <div class="toolbar">
                <a class="add-tag-button tool">Add tag</a>
                <% if (typeof editedSnippet === "undefined") { %>
                    <a class="delete-button tool danger" href="/snippets/del/<%= editedSnippet.id %>">Delete</a>
                <% } %>
            </div>
            <div class="comment-bar">
                <div class="comment"> // Click on a tag to remove</div>
                <div class="comment"> // Click into to edit</div>
            </div>
            <div class="buttons">
                <a role="button" class="btn btn-secondary" href="/snippets">Cancel</a>
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/dialog.js"></script>
<%- include("footer", {}) %>
<script src="/js/index.js"></script>