<%- include("header", {dialog: false}); %>
<%- include("sidenav", { tags: tags, active: "tags" }); %>

<main class="container-fluid content masonry">
    <% tags.forEach((tag) => { %>
        <div class="masonry-panel">
            <div class="masonry-content">
                <div class="element tag" onclick="window.location='/tags/mod/<%= tag.id %>'">
                    <div class="content"><%= tag.content %></div>
                    <div class="toolbar">
                        <a class="delete-button tool danger" href="/tags/del/<%= tag.id %>">Delete</a>
                    </div>
                    <div class="comment-bar">
                        <div class="comment"> // Click into to edit</div>
                    </div>
                </div>
            </div>
        </div>
    <% }); %>
</main>

<%- include("footer", {}) %>
<script src="/js/tags.js"></script>